[submodule "vendors/ios-cmake"]
	path = vendors/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendors/glm"]
 	path = vendors/glm
 	url = https://github.com/g-truc/glm.git
[submodule "vendors/imgui"]
 	path = vendors/imgui
 	url = https://github.com/ocornut/imgui
[submodule "vendors/rapidjson"]
	path = vendors/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendors/backward-cpp"]
	path = vendors/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "vendors/PhysX"]
	path = vendors/PhysX
	url = git@github.com:NVIDIAGameWorks/PhysX.git
[submodule "vendors/fmt"]
	path = vendors/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendors/Vulkan-ValidationLayers"]
	path = vendors/Vulkan-ValidationLayers
	url = git@github.com:KhronosGroup/Vulkan-ValidationLayers.git
[submodule "vendors/Vulkan-Headers"]
	path = vendors/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "vendors/glslang"]
	path = vendors/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "vendors/magic_enum"]
	path = vendors/magic_enum
	url = git@github.com:Neargye/magic_enum.git
