[submodule "vendors/ios-cmake"]
	path = vendors/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "vendors/spdlog"]
	path = vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendors/glm"]
 	path = vendors/glm
 	url = https://github.com/g-truc/glm.git
[submodule "vendors/imgui"]
 	path = vendors/imgui
 	url = https://github.com/ocornut/imgui
[submodule "vendors/MoltenVK"]
     	path = vendors/MoltenVK
     	url = https://github.com/KhronosGroup/MoltenVK
[submodule "vendors/rapidjson"]
	path = vendors/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendors/backward-cpp"]
	path = vendors/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "vendors/PhysX"]
	path = vendors/PhysX
	url = git@github.com:NVIDIAGameWorks/PhysX.git
[submodule "vendors/fmt"]
	path = vendors/fmt
	url = https://github.com/fmtlib/fmt.git
